.bg-blue-dark {
    background-color: #012f75;
    color: white;
}

.btn-blue-dark {
    background-color: #012f75;
    color: white;
    border: #012f75;
}

.btn-blue-dark:hover {
    background-color: #012151;
    color: white;
    border: #003685;
}

.btn-pink {
    background-color: #850068;
    color: white;
    border: #850068;
}

.btn-pink:hover {
    background-color: #6d0155;
    color: white;
    border: #850068;
}

.btn-blue-light {
    background-color: #01a5be;
    color: white;
    border: #01a5be;
}

.btn-blue-light:hover {
    background-color: #02879c;
    color: white;
    border: #02879c;
}

.spinner-load {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    z-index: -1;
}

.btn-purple {
    background-color: #512da8;
    color: white;
}

.btn-purple:hover {
    background-color: #42218e;
    color: white;
}

.btn-purple-transparent {
    background-color: transparent;
    border-color: white;
    padding: 7.5px 45px;
}

.btn-purple-transparent:hover {
    background-color: transparent;
    border-color: white;
    padding: 7.5px 45px;
}

.text-label {
    font-size: 14px;
    padding-bottom: 0.5rem;
}