@import '_layouts';
@import '_base';

 body {
    background-image: url('/src/assets/img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}